---
import { Image } from 'astro:assets';
import { getCollection, render } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

const post = Astro.props;
const { title, description, pubDate, updatedDate, heroImage, categories } = post.data;
const { Content } = await render(post);

const allCategories = await getCollection('categories');
const categoryList = categories
  .map((id) => allCategories.find((category) => category.id === id))
  .filter((category) => category !== undefined);
---

<html lang="pl">
  <BaseHead title={title} description={description} />

  <body class="bg-gray-100 font-sans antialiased min-h-screen flex flex-col">
    <Header />
    {
      heroImage && (
        <div class="w-full h-64 md:h-160 absolute top-16 left-0 z-0">
          <Image
            width={1920}
            height={1080}
            src={heroImage ?? ''}
            alt={`Okładka artykułu: ${title}`}
            class="w-full h-full object-cover"
          />
        </div>
      )
    }

    <main class="flex-1 relative z-10 pt-20">
      <article class="w-full py-8 px-4 xl:px-0 max-w-5xl mx-auto">
        <div class="bg-white rounded-xl shadow-xl p-6 md:p-12">
          <header class="text-center mb-8">
            <div class="text-gray-500 text-sm mb-2">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <span class="italic ml-2">
                    (Aktualizacja: <FormattedDate date={updatedDate} />)
                  </span>
                )
              }
            </div>

            <h1>{title}</h1>
            {
              categoryList.length > 0 && (
                <div class="flex flex-wrap justify-center gap-2 mb-6">
                  {categoryList.map((category) => (
                    // data-category attribute is just for styling
                    <a
                      data-category={category.id}
                      href={`/categories/${category.id}/`}
                      class="rounded-2xl bg-gray-200 px-3 py-1 text-sm text-gray-700 no-underline transition hover:bg-yellow-600 hover:text-white"
                    >
                      {category.data.name}
                    </a>
                  ))}
                </div>
              )
            }
            <hr class="border-gray-200" />
          </header>

          <Content />
        </div>
      </article>
    </main>

    <Footer />
  </body>
</html>
